@import "tailwindcss";

@keyframes bob {
    50% {
        transform: translateY(-20px);
    }
}

@keyframes swipe {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2120px);
    }
}


@keyframes rotato1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotato2 {
    to {
        transform: rotate(-360deg);
    }
}


@keyframes counter-rotato1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes counter-rotato2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@theme {
    --animate-bob: bob 5s linear infinite;
    --animate-swipe: swipe 30s linear infinite;
    --animate-rotato1: rotato1 100s linear infinite;
    --animate-rotato2: rotato2 100s linear infinite;
    --animate-counter1: counter-rotato1 100s linear infinite;
    --animate-counter2: counter-rotato2 100s linear infinite;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: rgb(18, 18, 18); */
}

.mask1 {
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to bottom, gainsboro 10%, rgba(220, 220, 220, 0.699) 70%, rgba(220, 220, 220, 0.808) 100%);
        z-index: -1;
    }
}

.mask2 {
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.048) 10%, rgba(0, 0, 0, 0.329) 70%, black 100%);
        z-index: -1;
        border-radius: 24px;
    }
}

.mask3 {
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(circle at center, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.05) 20%, transparent 70%);
        z-index: -1;
        border-radius: 24px;
    }
}

.mask4 {
    &::after {
        content: "";
        position: absolute;
        border-radius: 24px;
        inset: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.048) 10%, rgba(0, 0, 0, 0.671) 30%, black 35%);
        z-index: -1;
    }
}

.mask5 {
    &::after {
        content: "";
        position: absolute;
        border-radius: 12px;
        inset: 0;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.048) 40%,
                rgba(0, 0, 0, 0.356) 75%,
                rgba(0, 0, 0, 0.76) 100%);
        z-index: -1;
    }
}

.circle-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

.wheel:has(figure:hover) figure {
    filter: blur(3px);
}

.wheel:has(figure:hover) figure:hover {
    filter: blur(0);
}